
body {
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: auto;
    max-width: auto;
    padding: 0;
    position: relative;
    margin: 0;

}

.navbar {
    background: linear-gradient(to right, #4b8fd1, #34d3b2);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    padding-left: px;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    align-items: auto;
}

.nav-item:hover {
    text-decoration: underline;
}

.content{
    position: relative;
    justify-content: space-between;
    padding-top: 200px;
}

.content h1 {
    color: #4b8fd1;
    text-shadow: white;
    font-size: 300%;
    margin: 1px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#startButton {
    background: grey;
    border: none;
    padding: 20px 45px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#startButton:hover {
    background:linear-gradient(to right, #4b8fd1, #34d3b2);
    color: #f6fbff;
    border-color: #4b8fd1;
}

.brand img{
    padding-top: 2px;
    width: 30px;
    height: 30px;
}

.user{
    border: none;
    background-color: transparent;
}

.pregunta {
    position: relative;
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
select {
    width: auto;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.preg {
    display: flex;
    width: auto;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.preg:hover {
    background-color: #218838;
}

.pregun{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.preg {
    width: auto; /* Cambiar el ancho a autom치tico para evitar ocupar todo el ancho */
    padding: 10px 20px; /* A침adir padding horizontal para hacer los botones m치s amplios */
}

button + button {
    margin-left: 10px; /* A침adir espacio entre los botones */
}

h1{
    padding-top: 100px;
    color: #4b8fd1;
    text-shadow: white;
    font-size: 300%;
    margin: 1px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button {
    transition-duration: 0.4s;
}

.button {
    background: grey;
    border: none;
    padding: 20px 45px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background:linear-gradient(to right, #4b8fd1, #34d3b2);
    color: #f6fbff;
    border-color: #4b8fd1;
}

.content1 h1 {
    color: #4b8fd1;
    text-shadow: white;
    font-size: 500%;
    margin: 1px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}